@model BaseHW.Models.Domain.Sikuyear
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";


}

<main id="main" class="main">

    <div class="container-fluid">
        <div class="card">

<form class="w-40" asp-action="Add" method="post">
                <div class="card-header bg-primary mb-1">
                    <h4 class="card-title text-white">
                        Siku Üretim Tarihi Ekle
                    </h4>
                </div>
                <div class="card-body">
    <div class="input-container">
        <label asp-for="SikuyearName" class="w-40">Siku Üretim Tarihi</label>
        <input type="text" class="input" asp-for="SikuyearName">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="SikuyearName"></span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
                        <button class="btn btn-primary" type="submit">Kaydet</button>
                        <a class="btn btn-primary" href="/Sikuyear/SikuyearList ">Tüm Kayıtlar</a>
    </div>
                </div>
</form>
        </div>
    </div>
</main>